@import "tailwindcss";

@theme {
  /* Define your custom colors here */
  --color-brand: #4F0DCE;
  --color-brand-light: #7765DA;
  
  --color-action: #5767D0;
  --color-action-hover: #7765DA;
  
  --color-theme-dark: #373737;
  --color-theme-gray: #6E6E6E;
  --color-theme-light: #F2F2F2;

  /* Font Family */
  --font-sans: "Inter", sans-serif;
}